html,body,main{
    height: 100%;
}

body {
    background-color: #00182d;
}

.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.nav-navbar {
    font-size: 10px;
    height: 70px;
    background-color: #072744;
    border-bottom: 1px solid #0056a0;
    box-shadow: 0px 0px 14px -1px #0056a0;
}

.ul-navbar li {
    display: inline-block;
    line-height: 5em;
}

.ul-navbar li a {
    display: inline-block;
    padding: 10px 40px;
    font-size: 1.6em;
    color: #FFFFFF;
}

.ul-navbar li a:hover {
    color: #0056a0;
    text-decoration: none;
}

/* TODO trocar para block*/ 
.form-login {
    border: 1px solid #0056a0;
    padding: 10px 20px 30px;
    background-color: #072744;
    color: #f1f1f1;
    box-shadow: 0px 0px 14px -1px #0056a0;
}

.block {
    border: 1px solid #0056a0;
    padding: 10px 20px 30px;
    background-color: #072744;
    color: #f1f1f1;
    box-shadow: 0px 0px 14px -1px #0056a0;
}

.background-fixed {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/*Background*/
.background-fixed.bg-primary {
    background-image: url("../img/background.jpg");
}

.background-fixed>div.over-bg-black {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Utils*/
.push-10-t {
    margin-top: 35px;
}

.remove-padding {
    padding: 0;
}

.position-fixed {
    position: fixed;
}

/*overwrite bootstrap*/
.thumbnail {
    text-align: center;
    background-color: #11181f;
    padding-top: 15px;
}

.thumbnail .caption {
    color: #FAFAFA;
}